<h1 class="text-2xl text-center font-bold mb-4">Edit Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path, class: 'bg-gray-500 text-white py-2 px-4 rounded mt-4' %>
