<nav class="p-4 bg-gray-800 text-gray-200 hover:text-gray-500">
  <div class="flex justify-between items-center">
    <div class="flex items-center pl-8">
      <a href="/" class="flex items-center">
        <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
        </svg>
        <h1 class="font-ultra tracking-wide font-bold text-xl">WhoIS</h1>
      </a>
    </div>
  </div>
</nav>
